* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fdfaff;
  color: #333;
  line-height: 1.6;
  background-color: rgb(15, 151, 197);
}

.header {
  background-color:white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  border-radius: 10px;
  margin-top: 20px;
  width: 1600px;
  margin-left: 30px;
 
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-section img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #234070;
}

.logo-text h1 {
 
  font-size: 30px;
  color:#2b7bb9;
}

.logo-text p {
  
  font-size: 16px;
  color: #070707;
}

.header-title {
  text-align: center;
  /* flex: 1; */
}

.header,
.logo-section,
.header-title h2 {
  
  color: #d63384;
  font-size: 18px;
  }
  

  .header-title p {
    font-size: 18px;
    color: #080202;
  }

  .back-btn {
    text-decoration: none;
    color:black;
    margin-top: 60px;
    font-weight:bold;
    font-size: 17px;
    margin-right: 10px;
  }

.intro {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 60px;
  gap: 30px;
  
}

.intro img {
  width: 600px;
  height: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-left: 500px;
  
}
.text{
  background-color: #f9fcff;
  padding: 60px 90px;
  border-radius: 20px;
 
  
  
}

.text h2 {
  color: #2b7bb9;
  margin-bottom: 10px;
}
.importance{
  background-color: #f9fcff;
  padding: 30px 60px;
  border-radius: 20px;
  margin-left: 55px;
  margin-right: 55px;
}


.importance h2 {
  color: #2b7bb9;
  margin-bottom: 10px;
}

.importance ul {
  margin-left: 20px;
}

.steps {
  padding: 40px 60px;
  text-align: center;
}
.steps h2{
  color:white;
  font-size: 30px;
}

.step-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.step {
  background-color: #fff;
  border: 2px solid #bde0fe;
  border-radius: 15px;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.step img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.step h3 {
  color: #2b7bb9;
  margin-bottom: 5px;
}

.awareness {
  padding: 40px 60px;
  text-align: center;
}
.awareness h2 {
  color:white;
  font-size: 30px;
}
.awareness p{
  color:white;
  font-size: 20px;
}

.awareness img {
  margin-top: 20px;
  width: 800px;
  border-radius: 15px;
}

footer {
  background-color: white;
  color: #2b7bb9;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-radius: 15px 15px 0 0;
}
