 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body {
  background-color: rgb(15, 151, 197);
  color: #333;
  line-height: 1.6; 
  /* background-color: rgb(148, 183, 219); */
} 


.header {
  background-color:white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 20px;
  width: 1600px;
  margin-left: 30px;
 
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-section img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #234070;
}

.logo-text h1 {
 
  font-size: 30px;
  color:#2b7bb9;
}

.logo-text p {
  
  font-size: 16px;
  color: #070707;
}

.header-title {
  text-align: center;

}

.header,
.logo-section,
.header-title h2 {
  
  color: #d63384;
  font-size: 18px;
  }
  

  .header-title p {
    font-size: 18px;
    color: #080202;
  }

  .back-btn {
    text-decoration: none;
    color:black;
    margin-top: 60px;
    font-weight:bold;
    font-size: 17px;
    margin-right: 10px;
  }

.search{
  margin-left: 700px;
  padding: 20px;
  border-radius: 20px;
  height: 20px;

}
.search input{
  height: 50px;
  padding: 25px;
  font-size: 15px;
  border-radius: 30px;
  border: 2px solid seashell;
}
.search button{
  height: 50px;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid seashell;
}



.donor-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

.donor-card {
  background: #fff;
  width: 350px;
  padding: 20px 25px;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.donor-card p {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 600;
}
#donorContainer p{
  color:#d63384;
}
