 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
        /* background-color: rgb(231, 225, 225); */
        color: black;
        background-color: rgb(15, 151, 197);
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid lightblue;
        border-radius: 10px;
        padding: 10px 30px;
        background-color: #f9fcff;
        box-shadow: 0 4px 20px rgba(135, 206, 250, 0.5);
        height: 120px;
        width: 1500px;
        margin-left: 70px;
        margin-top: 30px;
        /* font-size: 150px; */
        font-weight: bold;
      }
      .milk img{
        border-radius: 50px;
      }

      .head {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      .logo img {
        width: 80px;
        height: 80px;
        border-radius: 20px;
        border: 2px solid #bde0fe;
        margin-bottom: 10px;
      
      }

      .head h1 {
        font-size: 35px;
        color: #2b7bb9;
      }

      .head p {
        font-size: 18px;
        color: rgb(219, 66, 138);
        margin-left: 5px;
      }

      nav {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      nav a {
        text-decoration: none;
        font-weight: 600;
        font-size: 19px;
      }

      .btn {
        padding: 8px 14px;
        border-radius: 8px;
        transition: 0.3s;
      }

      .btn-ghost {
        color: #2b7bb9;
      }

      .btn-ghost:hover {
        background-color: lightpink;
        color: black;
      }

      .btn-primary {
        background-color: #2b7bb9;
        color: #fff;
      }

      .btn-primary:hover {
        background-color: lightpink;
        color: black;
      }
      

      .mother h1 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 40px;
        color: #eaedef;
      }
      .mother img{
        margin-left: 130px;
      }
      .milk{
        margin-top: 30px;
        margin-left: 800px;

      }
      .container{
        margin-left: 600px; 
      }
      .container h1{
        margin-left: 50px;
        font-size: 60px;
        color:#052352;
        font-weight: 900px;
      }
      .container h2{
        color: white;
      }
      .container p{
        color:lightgray;

      }
      .cont {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-left: 300px;
        gap: 20px;

      } 
      .cont img{
        border-radius: 10px;
      }
      .details {
        display: grid;
        gap: 50px;
        grid-template-columns:1fr 1fr 1fr ;
        grid-template-rows: 50px 50px 50px;
        margin-top: 40px ;
        font-size: 20px;
        padding: 30px;
        align-items: center;
        
      }
      
      .details a:hover {
        transform: translateY(-5px);
}
      

      .details a {
        border: 2px solid #99bfdc;
        border-radius: 50px;
        padding: 30px ;
        text-align: center;
        color: #2b7bb9;
        background-color: #f9fcff;
        transition: transform 0.3s ease;
        text-decoration: none;
        font-weight: bold;
        align-items: center;
      } 

.foot{
   display: grid;
   gap: 50px;
   grid-template-columns:1fr 1fr 1fr 1fr ;
   grid-template-rows: 50px 50px 50px;
   margin-top: 40px ;
   font-size: 20px;
   padding: 20px;
   text-align: center;

}
.foot a{
  text-decoration: none;
  /* color: rgb(15, 151, 197); */
  color:white;
}
/* .mo{
  width:1500px;
} */

/* footer{
  background-color:white;
} */

      