*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body {
  background-color: rgb(15, 151, 197);
  color: #333;
  line-height: 1.6;
  /* background-color: rgb(148, 183, 219); */
} 


.header {
  background-color:white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  border-radius: 10px;
  margin-top: 20px;
  width: 1600px;
  margin-left: 30px;
 
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-section img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #234070;
}

.logo-text h1 {
 
  font-size: 30px;
  color:#2b7bb9;
}

.logo-text p {
  
  font-size: 16px;
  color: #070707;
}

.header-title {
  text-align: center;

}

.header,
.logo-section,
.header-title h2 {
  
  color: #d63384;
  font-size: 18px;
  }
  

  .header-title p {
    font-size: 18px;
    color: #080202;
  }

  .back-btn {
    text-decoration: none;
    color:black;
    margin-top: 60px;
    font-weight:bold;
    font-size: 17px;
    margin-right: 10px;
  }

.place {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   
  gap: 60px;                            
  max-width: 1200px;
  margin: 70px auto;
  padding: 0 20px;
}


.place div {
  background-color: #ffffff;
  width: 320px;               
  padding: 30px;              
  border-radius: 30px;        
  text-align: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.place div:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.25);
}


.place img {
  width: 100%;
  height: 180px;             
  object-fit: cover;
  border-radius: 25px;      
  margin-bottom: 20px;
}


.place a {
  text-decoration: none;
  font-size: 20px;
  color: #c0246f;
  font-weight: bold;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: white;
  color: #555;
}
